#teste{
    background-color: #fff;
}
#teste2{
    background-color: #141414;
    color: #fff;
}
#teste3{
   
    color: #fff;
}


#News1{
    height: 30px;
    background-color:#1A1A1B ;
    color: #fff;
    font-size: 17px;
}
#News2{
    height: 30px;
    background-color:#1A1A1B ;
    color: #fff;
    font-size: 17px;
}