#coinbtn2{
    background: #1A1A1B !important;
    margin-bottom: 10px !important;
    border-bottom: 0 solid #242A31 !important;
     width: 100%;
    height:50px;
    font-size: 15px;
    border-radius: 5px;
    color: #FFF1C4 !important;
}

#searchbar{
    color: #fff;
}