ion-item, .coinbtn{
    background: rgba(20, 20, 20, 0.7) !important;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
    border-bottom: 0px solid #141414 !important;
    border-top: 2px solid #141414 !important;
    width: 100%;
    height:50px;
    font-size: 15px;
    
    
    border-radius: 5px;
    color: #D9CEA8 !important;
}

#btn-notification{
    --background: #141414;
    --color:#D9CEA8;
    margin-top:10px;
}

#Titulo{
    color: #fff;
}
// <ion-button expand="block" (click)="scheduleNotification()">Schedule</ion-button>
//<ion-button expand="block" (click)="recurringNotification()">EVERY MINUTE</ion-button>
//<ion-button expand="block" (click)="repeatDaily()">Daily</ion-button>
//<ion-button expand="block" (click)="getALL()">Get ALL</ion-button>